body{
    /*background-image: url("./images/ClockTower.jpg");
    background-position: center center;
    background-repeat: none;*/
}

.jumbotron{
    background: transparent !important;
}

.jumboContent h1{
    text-align: center;
    color: lightskyblue;
}

.jumboContent .jumboButton{
    text-align: center;
}

.mainContent{
    color: rgba(0,0,0,1);
    font-size: 1.15em;
}

.welcome{
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 1em;
    background: rgba(130,175,195,.65);
    color: rgba(255,255,255,1);
}

.welcome h1{
    text-align: center;
}

.profHist{
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 1em;
    background: rgba(130,175,195,.65);
    color: rgba(255,255,255,1);
}

.profHist h1{
    text-align: center;
}

.eduHist{
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 1em;
    background: rgba(130,175,195,.65);
    color: rgba(255,255,255,1);
}

.eduHist h1{
    text-align: center;
}

.projects{
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 1em;
    background: rgba(130,175,195,.65);
    color: rgba(255,255,255,1);
}

.projects h1{
    text-align: center;
}

.personal{
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 1em;
    background: rgba(130,175,195,.65);
    color: rgba(255,255,255,1);
}

.personal h1{
    text-align: center;
}
